<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>INSendMessageIntent</string>
		<string>INStartCallIntent</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>JoA는 주변 친구 목록을 불러오기 위해 사용자의 위치 정보를 수집합니다. JoA를 이용하기 위해 위치 권한을 허용해주세요!</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>주변 친구 목록을 조금 더 정확하게 불러오기 위해 사용자의 위치 권한이 필요합니다.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>위치를 사용하시겠습니까?</string>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>주변 친구 목록을 불러오기 위해 사용자의 위치 권한이 필요합니다.</string>
	</dict>
	<key>NSLocationTemporaryUsageDescriptionKey</key>
	<string>주변 친구 목록을 불러오기 위해 사용자의 위치 권한이 필요합니다.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Galmuri11-Bold.ttf</string>
		<string>Galmuri14.ttf</string>
		<string>GalmuriMono11.ttf</string>
		<string>NeoDunggeunmoPro-Regular.ttf</string>
	</array>
</dict>
</plist>
