<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA2afqaBPOAxQb3QH4YfKM2Jkb-B8N1nFs</string>
	<key>GCM_SENDER_ID</key>
	<string>262235862762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.GanG.Real-J</string>
	<key>PROJECT_ID</key>
	<string>joa-fa939</string>
	<key>STORAGE_BUCKET</key>
	<string>joa-fa939.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:262235862762:ios:224e36311d9be60ae44993</string>
</dict>
</plist>